/*** VARIABLES ***/

//colors 
$primary_color: #184491;
$secondary_color: #f19b4b;
$danger_color: #f00c63;
/* BOOTSTRAP DEFAULT */
/* $primary_color: #007bff;
$secondary_color: #6c757d;
$success_color: #28a745;
$info_color: #dc3545;
$warning_color: #ffc107;
$danger_color: #17a2b8;
$light_color: #f8f9fa;
$dark_color: #343a40; */

$bg_primary_color: #e92690;
$bg_primary_color_dark: rgb(133, 0, 73);


.grass{
  background-color:#8cf54ad6;};  
.poison{
  background-color:#ac0ee1;};
.fire{
  background-color:#ff942f;};
.flying{
  background-color: #7ce6f9;};
.water{
  background-color:#4aabe4d1;};
.bug{
  background-color:#bddd6e;};
.normal{
  background-color:#b3b3aa;};
.electric{
  background-color:#ffea24;};
.ground{
  background-color:#a69200;};
.fairy{
  background-color:#ffa0c2;};
.fighting{
  background-color:#d47c7c;};
.psychic{
  background-color:#f9579da1;};
.rock{
  background-color:#87722c;};
.steel{
  background-color:#7b8e8a;};
.ice{
  background-color:#66e5cb;};
.ghost{
  background-color:#745382;};
.dragon{
  background-color:#7f4bf7;};

/*   #7ce6f9 #18879a */